@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


  body {
    font-family: "Quicksand", serif;
    position: relative;
  }


.bg-grid-light {
  background-image: linear-gradient(to right, #f1f5f9 1px, transparent 1px),
                    linear-gradient(to bottom, #f1f5f9 1px, transparent 1px);
  background-size: 20px 20px;

  
}

.bg-dark {

}

.dark-mode-text {
  color: white;
}
.msizep{
  max-width: 700px;
}