





.project-card {
  background: linear-gradient(135deg, #a18cd1, #fbc2eb);


  
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #e0e0e0;
  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out;
}

.project-card:hover {
  transform: translateY(-5px);
}


.project-title {
  font-size: 1.1rem;
  font-weight: bold;

  margin-bottom: 6px;
}

/* View More button styling */
.view-more-btn {
  background-color: transparent;
  font-weight: bold;

  padding: 8px 10px;
  border-radius: 15px;
  border: none;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.view-more-btn:hover {
  text-decoration: underline;
 
}

/* Styling the details section */
.details {
  margin-top: 10px;
  font-size: 13px;
  
}

/* Styling the GitHub link */
.details a {
  font-size: 0.8rem;
  font-weight: bold;
  color: #3182ce;
  text-decoration: none;
  transition: color 0.3s ease;
  padding-bottom: 10px;
}

.details a:hover {
  color: #63b3ed;
}

.details p{
  text-align: justify;
}

/* Image styling */
.details img {
  border-radius: 8px;
  margin-top: 20px;
  max-width: 90%;
  display: block;
  margin: 0 auto;
} 
.project-card {
  position: relative; /* Ensure the date can be positioned relative to the card */
}

.project-date {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 12px;
  font-weight: 600;
}
